<!-- myapp/templates/article.html -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Fachschaft Medien</h1>
    </header>

    <main>
        <h2>{{ article.title }}</h2>
        <div>
            {{ article.content|safe }}  <!-- Hier wird der Markdown-Inhalt gerendert -->
        </div>
        <a href="{% url 'home' %}">Zurück zur Homepage</a>
    </main>
</body>
</html>
